<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.kanade.tachiyomi.extension">

    <application>
        <activity
            android:name=".all.mangadex.MangadexUrlActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="*.mangadex.org" />
                <data android:host="mangadex.org" />

                <data
                    android:pathPattern="/title/..*"
                    android:scheme="https" />
                <data
                    android:pathPattern="/manga/..*"
                    android:scheme="https" />
                <data
                    android:pathPattern="/chapter/..*"
                    android:scheme="https" />
                <data
                    android:pathPattern="/group/..*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>
</manifest>
