<?xml version="1.0" encoding="utf-8"?>
<manifest package="eu.kanade.tachiyomi.extension"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".en.allanime.AllAnimeUrlActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="allanime.to"/>
                <data android:host="allanime.co"/>

                <data
                    android:pathPattern="/manga/..*"
                    android:scheme="https" />
                <data
                    android:pathPattern="/read/..*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>
</manifest>
